li.islandora-print {
	img#print_btn {
		max-width: 50px;
	}
}

/** Basic Collection Overview page **/

.islandora-basic-collection-display-switch {
	padding: 1rem;

	@include mobile() {
		display: none;
	}
	ul.links {
		li {
			margin-right: .5rem;
			background: $adminBlue;
			padding: .5rem;
			border-radius: 4px;
			text-align: center;
			transition: all .3s ease-in-out;

			&:hover {
				background: darken($adminBlue, 15%);
			}
		}
	}
}

.islandora-basic-collection-wrapper {
	padding: 1rem;

	.islandora_basic-collection__collection-info {
		h2 {
			font-family: $bold;
		}
	}
}

/** Interior Collections page **/
body.section-islandora {

	.block-islandora-compound-object {
		width: auto;
		display: inline-block;
		float: left;
		display: flex;
		margin-right: .5rem;
		padding: 1rem;

		.islandora-compound-title {
			a.manage-parent-btn {
				display:block;
				text-transform: capitalize;
			}
			a.compound-btn {
				
			}
		}

		.islandora-compound-thumbs {
			background: $adminBlue;
			padding: 1rem;
			margin-right: 1rem;
			.islandora-compound-thumb {
				float: none;
				display: block;
				margin-bottom: .5rem;
			}
		}

	}



	.islandora-basic-collection-wrapper {
		padding: 1rem 0;

		@include mobile() {
			padding: .5rem 0;
		}

	}
		.islandora-basic-collection-grid {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: top;

			.islandora-basic-collection-object {
				border: solid thin $orange;
				width: calc(25% - 2rem) !important;
				margin: 1rem;

				@include mobile() {
					width: calc(100% - 1rem) !important;
					margin: .5rem !important;
				}

				.islandora-basic-collection-thumb {
					overflow: hidden;
					margin-bottom: -5px;
					img {
						transition: all .3s ease-in-out;
						border-radius: 0px;
						width: 100%;
						&:hover {
							transform: scale(1.05);
						}
					}
				}

				.islandora-basic-collection-caption {
					text-align: center;
					background:#fff;
					
					&:before {
						content: "";
						background: url('img/card-lines-orange.png') repeat-x #fff;
						height: 25px;
						display: block;
					}

					h4.title {
						color: $orange;
						font-size: 1.2rem;
						padding: 1rem .5rem;
					}
				}
			}
		}

		.islandora-basic-collection {
			padding-top: .5rem;
			margin-bottom: .5rem;
		}
	
}

/** Main Page collection display **/
body.page-islandora-object-islandora-root {
	
	.islandora-basic-collection-grid {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: top;

		@include mobile() {
			flex-flow: column nowrap;
		}

		.islandora-basic-collection-object {
			border: solid thin $orange;
			width:calc(48% - .5rem) !important;
			margin:.5rem !important;

			@include mobile() {
				width: calc(100% - 1rem) !important;
				margin: .5rem !important;
			}

			.islandora-basic-collection-thumb {
				overflow: hidden;
				margin-bottom: -5px;
				display: block;
	

				img {
					transition: all .3s ease-in-out;
					border-radius: 0px;
					&:hover {
						transform: scale(1.05);
					}
				}
			}

			.islandora-basic-collection-caption {
				font-size: 1.5rem;
				z-index: 20;
				text-align: center;
				background:#fff;
				

				&:before {
					content: "";
					background: url('img/card-lines-orange.png') repeat-x #fff;
					height: 25px;
					display: block;
				}

				h4.title {
					padding:2rem 0;
					color: $orange;
					a {
						color: inherit;
					}
				}
			}
		}
	}
}
