
fieldset.islandora-metadata {
	border: solid thin transparent;
	margin-top: 2rem;
	padding: 0 !important;
	legend {
		span.fieldset-legend {
			display: block;
			width: auto;
			padding: .5rem 1rem;
			background: $adminBlue;
			margin-bottom: 0;
			font-size: 1rem;
			border-radius: 4px 4px 0px 0px;
			-moz-border-radius: 4px 4px 0px 0px;
			-webkit-border-radius: 4px 4px 0px 0px;
			transition: all .3s ease-in-out;
			cursor: pointer;

			&:hover {
				background: darken($adminBlue, 10%);
			}

			span.arrow-up {
				margin-left: .5rem;
				font-size: .8rem;
				transition: all .3s ease-in-out;
				display: inline-block;
			}

			span.arrow-up.rotated {
				transform: rotate(180deg);
			}
		}

	}

	.fieldset-wrapper {
		display: none;
		transition: all .3s ease-in-out;
		dl {
			border-bottom: solid thin $adminBlue;
			border-left: solid thin $adminBlue;
			border-right: solid thin $adminBlue;
			dt, dd {
				text-align: left;
				border-top: solid thin $adminBlue;
				padding: 1rem;

				@include mobile() {
					border-top: none;
				}
			}
			dt {
				color: $orange;

				@include mobile() {
					width: 100%;
					font-size:1.2rem;
					color: #000;
					background: $adminBlue;
				}

			}
			dd {
				border-left: solid thin $adminBlue;

				@include mobile() {
					border-left: none;
					width: 100%;
				}
			}
		}
	}

	.fieldset-wrapper.expanded {
		display: block;
	}
}

.islandora-metadata-fields {
	dd {
		a {
			color: $seafoam;
		}
		p {
			a {
				color: $seafoam;
			}
		}
	}
}
