
fieldset.islandora-metadata {
	border: solid thin transparent;

	.fieldset-wrapper {
		dl {
			dt, dd {
				text-align: left;
				border-top: solid thin $adminBlue;
				padding: 1rem;

				@include mobile() {
					border-top: none;
				}
			}
			dt {
				color: $orange;

				@include mobile() {
					width: 100%;
					font-size:1.2rem;
					color: #000;
					background: $adminBlue;
				}
			}
			dd {
				border-left: solid thin $adminBlue;

				@include mobile() {
					border-left: none;
					width: 100%;
				}
			}
		}
	}
}
