.islandora-basic-image-object {
	.islandora-basic-image-title {
		margin-top: 1rem;
	}
	.islandora-basic-image-content-wrapper {
		.islandora-basic-image-content {
			background-color: transparent;
			border: solid thin transparent;
			margin-bottom: 1rem;
			margin-top: 1rem;
			overflow: hidden;
			padding: 0;
			img {
				transition: all .3s ease-in-out;
				max-width: 600px;
				width: 100%;				
				&:hover {
					transform: scale(1.02);
				}
			}
		}
	}
	.islandora-basic-image-metadata {
		.islandora-basic-image-description {
			font-size: 1.1rem;
			margin: 1rem 0;
		}
		.in-collections-listing {
			margin: 1rem 0;

			h2 {
				color: $seafoam;
				border-bottom: solid thin $adminBlue;
				margin-bottom: 1rem;
			}

			ul {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: flex-start;

				li {
					list-style: none;
					margin: .5rem;
				}
				li.collection-label {
					color: $orange;
					font-weight: 700;
					font-size: 1.2rem;
				}
				li.finding_aid_url {

					svg.svg-inline--fa {
						display: inline-block;
						margin-right: .5rem;
					}
					padding: .5rem;
					background: $adminBlue;
					border-radius: 4px;
					transition: all .3s ease-in-out;

					&:hover {
						background:darken($adminBlue, 10%);
					}
				}
			}

		}

		table {
			margin-top: 1rem;
			border-bottom: solid thin $adminBlue;
			width: 100%;

			tr {
				td {
					padding: 1rem;
					border-bottom: solid thin $adminBlue;
					
					&:first-child {
						background: $adminBlue;
						border-bottom: solid thin #fff;
					}

				}
				&:first-child {
					th {
						border-top: solid thin transparent;
						border-bottom: solid 2px #fff;
						background: $adminBlue;
						
						h3.islandora-obj-details-metadata-title {
							padding: 1rem;

						}
					}
				}

				&:last-child {
					td {
						border-bottom: solid thin $adminBlue;
					}
				}
			}
		}
	}
}

/** Copyright Restriction Message **/
.copyright-restriction__message {
	background: $adminBlue;
	margin-top: 1rem;
	min-height: 200px;
	max-width: 800px;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
	

	.copyright_restriction {
		font-size: 1.5rem;
		font-weight: 700;
		color: $seafoam;
		padding-left: 2rem;
	}
}

/** Datastream Download Buttons **/
.islandora-basic-image-download-btns__wrapper {
	margin:1rem 0;
	padding-top:1rem;

	.btn {
		display: inline-block;
		@include btn;
		margin-top: 1rem;
		margin-right: 1rem;
	}
}

/** Islandora Compound Batch Display **/
.block-islandora-compound-object {
	.islandora-compound-prev-next {
		a {
			color: $seafoam;
		}
		.islandora-compound-thumbs {
			border-top: solid thin transparent;
			
			.islandora-compound-thumb {
				display: line-block;
				width: 200px;
				max-width: none !important;
				border-bottom: none;
				border: solid thin $adminBlue;
				padding: .5rem;
				margin-right: .5rem;
			}
		}
	}
}
