.islandora-object-title {
	margin-top: 1rem;
}

.islandora-basic-image-object {
	.islandora-basic-image-title {
		margin-top: 1rem;
	}
	.islandora-basic-image-content-wrapper {
		.islandora-basic-image-content {
			background-color: transparent;
			border: solid thin transparent;
			margin-bottom: 1rem;
			margin-top: 1rem;
			overflow: hidden;
			padding: 0;
			img {
				transition: all .3s ease-in-out;
				max-width: 600px;
				width: 100%;				
				&:hover {
					transform: scale(1.02);
				}
			}
		}
	}
	.islandora-basic-image-metadata {
		.islandora-basic-image-description {
			font-size: 1.1rem;
			margin: 1rem 0;
		}

		table {
			margin-top: 1rem;
			border-bottom: solid thin $adminBlue;
			width: 100%;

			tr {
				td {
					padding: 1rem;
					border-bottom: solid thin $adminBlue;
					
					&:first-child {
						background: $adminBlue;
						border-bottom: solid thin #fff;
					}

				}
				&:first-child {
					th {
						border-top: solid thin transparent;
						border-bottom: solid 2px #fff;
						background: $adminBlue;
						
						h3.islandora-obj-details-metadata-title {
							padding: 1rem;

						}
					}
				}

				&:last-child {
					td {
						border-bottom: solid thin $adminBlue;
					}
				}
			}
		}
	}
}

/** In collections listing **/
.parent-collection-info__wrapper {
	margin-top: 1rem;
	border-top: solid thin $adminBlue;
	border-bottom: solid thin $adminBlue;
	padding: 1rem 0;

	h3 {
		a {
			color: $seafoam;

			@include mobile() {
				display: block;
			}
		}
	}

	.finding_aid_btn {
		margin-top: 1rem;
		a {
			background: $adminBlue;
			width: auto;
			padding: .5rem 1rem;
			border-radius: 4px;
			transition: all .3s ease-in-out;

			&:hover {
				background: darken($adminBlue, 10%);
			}
		}
	}
}

/** Copyright Restriction Message **/
.copyright-restriction__message {
	background: $adminBlue;
	margin-top: 1rem;
	margin-bottom: 2rem;
	min-height: 200px;
	max-width: 800px;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
	

	.copyright_restriction {
		font-size: 1.5rem;
		font-weight: 700;
		color: $seafoam;
		padding-left: 2rem;
	}
}

/** Datastream Download Buttons **/
.islandora-basic-image-download-btns__wrapper {
	margin:1rem 0;
	padding-top:1rem;

	@include mobile() {
		margin-top: 0;
	}

	.btn {
		display: inline-block;
		@include btn;
		margin-top: 1rem;
		margin-right: 1rem;

		@include mobile() {
			display: block;
			width: 100%;
		}
	}
}

/** Islandora Compound Batch Display **/
.block-islandora-compound-object {

	.islandora-compound-title {
		padding-top: .5rem;
		margin-top: 5px;
		border-bottom: solid thin $adminBlue;
	}

	.islandora-compound-prev-next {
		margin-bottom: .25rem;
		
		a {
			color: $seafoam;
		}

		.compound-thumbs-display-toggle {
			border-bottom: solid thin $adminBlue;
			span {
				width: auto;
				padding: .5rem 1rem;
				background: $adminBlue;
				border-radius: 4px 4px 0px 0px;
				-moz-border-radius: 4px 4px 0px 0px;
				-webkit-border-radius: 4px 4px 0px 0px;
				transition: all .3s ease-in-out;
				cursor: pointer;
				max-width: 225px;
				text-align: center;
				display:block;

				&:hover {
					background: darken($adminBlue, 10%);
				}
			}

			span.hidden {
				display: none;
			}
			
		}
		.islandora-compound-thumbs {
			border-top: solid thin transparent;
			
			.islandora-compound-thumb {
				display: line-block;
				width: calc(33.33% - 1rem);
				max-width: none !important;
				border-bottom: none;
				padding: .5rem 0; 
				margin-right: .5rem;

				.islandora-compound-caption {
					max-width: none !important;
					float: none;
					margin-bottom: .25rem;
					width: 100%;
				}
			}
		}
	}
}

/** override internet archive book reader **/
#book-viewer {
	margin-top: 1rem;
}
#BRpage {
	width: auto !important;
}

#BRtoolbar, #BRnav, #BRnavCntlBtm {
	background-color: $adminBlue !important;
}

/** MARCxml **/
body[class*="-view_mods_as_marcxml"] {
	#content {
		#content-area {
			a {
				@include btn();
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: inline-block;
			}

			table {
				tbody {
					border: solid thin $adminBlue;
					tr {
						th, td {
							padding: 1rem;
						}
						th {
							background: $adminBlue;
							border-bottom: solid thin #fff;
						}

						td {
							border-bottom: solid thin $adminBlue;
						}
					}
				}
			}
		}
	}
}

/** Social Media Share Buttons **/
.social-sharing-buttons {
	.social-title {
		font-family: $semibold;
		color: $seafoam;
		margin-bottom: 1rem;
	}

	#fb-share, #twitter-share {
		color: $seafoam;
		font-size: 1.2rem;
		border: solid thin $seafoam;
		width: 35px;
		height: 35px;
		text-align: center;
		border-radius: 50%;
		padding-top: .35rem;
		transition: all .3s ease-in-out;
		cursor: pointer;
		display: inline-block;
		margin-right: .5rem;

		&:hover {
			border: solid thin transparent;
			background: $adminBlue;
		}
	}

}
