* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	content: "";
	display: block;
	max-width: none;
	&:before {
		background-image: none !important;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

h1,h1,h3,h4,h5,h6 {
	font-family: $semibold;
}