/** Search Modal Window **/
.search-modal {
	display: none;
}

.search-modal.visible {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #303030;
	z-index: 2001;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	.search-modal__close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		color: $seafoam;
		font-size: 3rem;
		transition: all .3s ease-in-out;
		cursor: pointer;

		@include mobile() {
			right: 1rem;
		}

		&:hover {
			color:darken($seafoam, 10%);
		}
	}

	/** simple search form inside search modal **/
	#islandora-solr-simple-search-form {
		#edit-simple {

			.form-item {
				.pld-collections-search {
					background:darken(#303030, 10%);
					padding: .5rem;
					color: $seafoam;
					border-top: solid 1px transparent;
					border-left: none;
					border-right: solid 3px $seafoam;
					border-bottom: solid 1px $seafoam;

					@include mobile() {
						border-right: solid 1px $seafoam;
						border-left: solid 1px $seafoam;
						border-top: solid 1px $seafoam;
					}
				}
			}

			input.pld-simple-search-submit {
				border-radius: 0px;
				margin-left:-5px;
				margin-top: 2px;
				background: $seafoam;
				border: none;
				color: #fff;
				padding: .55rem 1rem;

				&:hover {
					background: darken($seafoam, 15%);
				}

				@include mobile() {
					display: block;
					margin-top: 1rem;
					width: 100%;
					margin-left: 0px;
				}
			}
		}
	}
}

/* Hide Islandora Simple Search Title */
.block-islandora-solr.search-bar__wrapper {
	h3.title {
		display: none;
	}
}

/** Apply title before .collections-search__wrapper **/
.collections-search__form-wrapper {
	width: 100%;
	padding: 1rem;

	&:before {
		content:"Search Collections";
		display: block;
		color: $seafoam;
		font-size: 1.5rem;
		font-weight: 500;
		clear: both;
		margin-bottom: 1rem;
	}
	a {
		display: block;
		margin-top: 1rem;
		color: $seafoam;
		text-align: right;
	}
}

/** Islandora Advanced Search **/

.pld-advanced-search-block {
	h3.title {
		display: none;
	}
}
#islandora-solr-advanced-search-form {

	div.form-type-select {
		padding:1rem 0;
		display: block;
	}

	select[id^="edit-terms-"] {
		width: 100% !important;
		padding: .25rem;
	}
	div.form-item {
		display: block;
		input[id^="edit-terms-"] {
			width: 100% !important;
			padding: .25rem;
		}
	}
}

/** Search Navigation **/
.pld-solr-search-navigation__wrapper {
	border-top: solid thin $adminBlue;
	padding-top: .5rem;
	h3.title {
		display: none;
	}
	#islandora-solr-search-return-link {
		display: block;
		@include btn();
		max-width: 150px;
		margin-bottom: .5rem;
	}

	#islandora-solr-search-prev-link, #islandora-solr-search-next-link {
		display: inline-block;
		margin-top: .5rem;
		overflow: hidden;
		
		a {
			color: $orange;
			border: solid thin $orange;
			padding: .5rem 1rem;
			transition: all .3s ease;
			background: transparent;
			border-radius: 4px;
			margin-right: 1rem;
			display: inline-block;
			overflow: hidden;
			&:hover {
				background: $orange;
				color: #fff;
			}
		}
	}
}




