body.page-islandora-object-islandora-root {
	header.site-header__wrapper {
		position: fixed;
		background: rgba(0,0,0, .8);
		z-index: 200;
		background-image: none !important;
	}
}

header.site-header__wrapper {
	background-image: url('img/header-texture.jpg');
	background-repeat: repeat;
	background: rgba(0,0,0, .8);
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: .5rem 1rem;
	webkit-box-shadow: 3px 10px 20px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 10px 20px -4px rgba(0,0,0,0.75);
	box-shadow: 3px 10px 20px -4px rgba(0,0,0,0.75);

	.logo__wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;

		a#logo {
			max-width: 80px;
			display: inline-block;
			margin-right: 1rem;

			img {
				width: 100%;
			}
		}

		.site-name__wrapper {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
			.library_name {
				color: #fff;
				font-family: $semibold;
				font-size: 1.5rem;
				max-width: 100px;
				line-height: 1.1;
				margin-right: 2rem;
			}

			.repository_name {
				color: $seafoam;
				font-size: 1.5rem;
				font-family: $light;
				padding-top: 3.5rem;
				padding-left: 1rem;
				border-left: solid thin $seafoam;
			}
		}
	}

	.menu-toggle {
		margin-left: auto;
		color: $seafoam;
		padding: .5rem  .5rem 0;
		border: solid thin $seafoam;
		border-radius: 4px;
		font-size: 2rem;
		transition: all .3s ease-in-out;
		cursor: pointer;
		&:hover {
			color: darken($seafoam, 25%);
			border-color: darken($seafoam, 25%) ;
		}
	}

	#search-icon {
			.svg-inline--fa.fa-search {
				margin-right: 1rem;
				margin-left: 1rem;
				display: inline-block;
				color: $seafoam;
				font-size: 2.5rem;
				transition: all .3s ease-in-out;
				cursor: pointer;

				&:hover {
					color: darken($seafoam, 10%);
				}
			}
		}

		#search-icon.hidden {
			display: none;
		}
}