nav#navigation {
	background: #303030;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;

	ul.main-menu {
		li {
			flex-grow: 1;
			text-align: center;
			a {
				padding: 29.8px 1.9rem 2.3rem;
				font-family: $semibold;
				font-size: calc(1em + .125 * (100vw - 30em) / 55);
				display: inline-block;
			}

			&:first-child {
				color: $pink;
				border-top: solid 7px $pink;
			}

		}
	}

	.search-form__wrapper {
		margin-left: auto;

		.collections-search__form-wrapper.hidden {
			display: none;
		}

		#islandora-solr-simple-search-form {
			margin-right: 1rem;
			#edit-simple {
				.form-item {
					#edit-islandora-simple-search-query {
						background: transparent;
						padding: .5rem;
						border: none;
						border-bottom: solid 2px $seafoam;
						border-right: solid 2px $seafoam;
						border-top: solid 2px transparent;
						border-left: solid 2px transparent;
						color: $seafoam;
					}
				}
			}
			#edit-submit {
				border-radius: 0px;
				border-bottom: solid 2px $seafoam;
				margin-left: -4px;
			}
		}
		
		.search-bar__wrapper {
			h3.title {
				display: none;
			}
		}

		#search-icon {
			.svg-inline--fa.fa-search {
				margin-right: 1rem;
				display: inline-block;
				color: $seafoam;
				font-size: 2.5rem;
				transition: all .3s ease-in-out;
				cursor: pointer;

				&:hover {
					color: darken($seafoam, 10%);
				}
			}
		}

		#search-icon.hidden {
			display: none;
		}
		
	}
}

.secondary-nav {
	margin-left: auto;
	ul#secondary {
		li {
			list-style: none;
			display: inline-block;
			font-size: .8rem;
			margin-right: .5rem;
			padding: .5rem;
			background: $adminBlue;
			border-radius: 4px;
			a {
				color: $seafoam;
			}
		}
	}
}

/** Breadcrumb styling **/
div.breadcrumb {
	font-size: .8rem;
	padding: 1rem 0;
	a {
		display: inline-block;
		margin-right: .5rem;
		color: $seafoam;
	}
}

/** Pagination styling **/
.item-list {
	ul.pager {
		li.pager-current {
			font-size: 1.1rem;
			color: $orange;
		}

		li {
			a {
				color: $seafoam;
			}
		}

		.pager-next, .pager-last {
			
			a {
				padding-top: .5rem;
				color: $seafoam;
				border-radius: 4px;
			}
		}
	}
}