nav#navigation.hidden {
	display: none;
}

nav#navigation.visible {
	position:fixed;
	background: #303030;
	top:0;
	right:0;
	height: 100%;
	width: 30%;
	z-index:4900;
	-webkit-box-shadow: -5px 3px 19px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 3px 19px -1px rgba(0,0,0,0.75);
	box-shadow: -5px 3px 19px -1px rgba(0,0,0,0.75);

	@include mobile() {
		width: 75%;
	}
	
	.menu-header {
		padding: 1rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		background: $adminBlue;

		span.menu-title {
			color: $seafoam;
			font-size: 1.1rem;
		}

		span.menu-close {
			margin-left: auto;
			font-size: 1.5rem;
			color: $seafoam;
			transition: all .3s ease-in-out;
			cursor: pointer;
			&:hover {
				color: darken($seafoam, 10%);
			}
		}
	}
	

	ul.main-menu {
		display: block;
		li {
			display:block;
			padding:1rem;
			border-bottom: solid thin $seafoam;
			color: $seafoam;

			transition: all .3s ease-in-out;

			&:hover {
				background: $seafoam;
				a {
					color: #fff;
				}
			}
			
			a {
				color: inherit;
			}
		}
	}
}

.secondary-nav {
	margin-left: auto;
	ul#secondary {
		li {
			background: #303030;
			list-style: none;
			display: inline-block;
			font-size: .8rem;
			margin-right: .5rem;
			padding: .5rem;
			background: $adminBlue;
			border-radius: 4px;

			a {
				color: $seafoam;
			}
			
		}
	}
}

/** Breadcrumb styling **/
div.breadcrumb {
	font-size: .8rem;
	padding: 1rem 0;
	a {
		display: inline-block;
		margin-right: .5rem;
		margin-left: .5rem;
		color: $seafoam;
	}
}

/** Pagination styling **/
.item-list {
	ul.pager {
		li.pager-current {
			font-size: 1.1rem;
			color: $orange;
		}

		li {
			a {
				color: $seafoam;
			}
		}

		.pager-next, .pager-last {
			
			a {
				padding-top: .5rem;
				color: $seafoam;
				border-radius: 4px;
			}
		}
	}
}